body {
    background-color: white;
}

#contents {
    width: 42%;
    margin: 20px auto;
    font-family:  serif;
}

h1#topname {
    width: 42%;
    margin: 0px;
    font: 240% 'Nobile';
    font-family: 'Nobile' serif;
    text-align: left;
}

h1 {
    margin: 0px;
    font: 160% 'Nobile';
    font-family: 'Nobile' serif;
}



a:link { color : #0000FF; text-decoration : none; }
a:visited { color : #0000FF; text-decoration : none; }

a:hover { color : #FF0000; text-decoration : none; }
a:active { color : #FF0000; text-decoration : none; }
