body {
    background-color: white;
}

#contents {
    width: 71%;
    margin: 20px auto;
    padding-right: 200px;
    font-family:  serif;
}

.box {
    margin: 30px 0;
    padding: 20px;
    background-color: white;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.boxtitle {
    text-align: left;
    padding-right: 0px;
}


.project {
    margin: 30px 0;
    padding: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.projecttitle {
    text-align: right;
    font: 130% 'Nobile';
    font-family: 'Nobile' serif;    
}

.projectdesc {
    text-align: justify;
}

h2.subproject {
    font: 100% 'Nobile';
    font-weight: bold;
    font-family: 'Nobile' serif;    
}


ul { padding-left: 1em; }
li { margin-bottom: 1ex; }
img.validator { border: none; }
.clear { clear: both; }
.pub .title { font-style: italic; }
#name #photo { float: right; }


h1#topname {
    margin: 0px;
    font: 240% 'Nobile';
    font-family: 'Nobile' serif;
    text-align: right;
}

h1 {
    margin: 0px;
    font: 160% 'Nobile';
    font-family: 'Nobile' serif;
}




img.new {
    position: relative;
    left: -38px;
    top: -1px;
    vertical-align: middle;
    margin-right: -38px;
    padding-right: 0px;
}

.bibtex {
    display: none;
    border: dotted 1px lightgray;
    padding: 5px;
}

.refType {
    font-weight: bold;
    color: gray;
}


a:link { color : #0000FF; text-decoration : none; }
a:visited { color : #0000FF; text-decoration : none; }

a.refType {
    font-weight: bold;
    color: gray;
}

a:hover { color : #FF0000; text-decoration : none; }
a:active { color : #FF0000; text-decoration : none; }
